@fa-font-path: "../fonts";

/**
 * Breakpoints
 */
@big-desktop: 85.375em;
@desktop: 64em;
@tablet: 56.25em;
@mobile: 37.5em;

/**
 * Typography
 */
@mono: 'Overpass Mono', monospace;
@overp: 'Overpass', sans-serif;

/**
 * Spacing and alignment
 */
@length-small: 1.5rem;
