.education {
    flex-direction: column;

    &-source {
        width: calc(50% - 1.5em);

        .responsive-max(@tablet, {
            width: 100%;
        });

        + .education-source {
            .responsive-max(@tablet, {
                margin-top: 1.5em;
            });
        }
    }

    .flex-wrapper:hover .card:not(:hover) {
        filter: grayscale(100%);
        opacity: .4;
    }
}
