.header {
    align-items: center;
    border-bottom: 1px solid var(--color-text);
    display: flex;
    justify-content: space-between;
    padding-bottom: 1em;

    .responsive-max(@desktop, {
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
    });

    .logo,
    .logo-img {
        height: 60px;
    }

    .logo {
        align-items: center;
        display: flex;
        justify-content: center;
        line-height: 60px;
        min-width: 360px;

        .responsive-max(@desktop, {
            margin-bottom: 0.5em;
        });

        &-img {
            margin-top: -.75rem;
        }

        &-text {
            font-family: @overp;
            font-size: 2.5rem;

            &::before {
                    content: ">";
                    font-family: @mono;
                    font-size: 3rem;
                    line-height: normal;
            }

            &::after {
                animation: blink 1s step-end infinite;
                content: "|";
                font-size: 2.5rem;
                margin-left: 0.5rem;
            }
        }
        
    }

    .nav {
        align-items: center;
        display: flex;
        justify-content: flex-end;

        .responsive-max(@mobile, {
            justify-content: center;
        });

        &-list {
            align-items: center;
            display: flex;
            justify-content: flex-end;
            width: 100%;

            .responsive-max(@mobile, {
                justify-content: center;
            });
        }

        &-item {
            .rounded();
            .transitioned();

            &:hover {
                background-color: fade(@grey, 50%);
            }
        }

        &-item + .nav-item {
            margin-left: 2.5em;

            .responsive-max(@mobile, {
                margin-left: 0;
            });
        }

        &-link {
            .rounded();
            color: var(--color-text);
            display: block;
            padding: 0.5em 1em;

            .responsive-max(@mobile, {
                padding: 0.5em;
            });

            &:hover {
                border: none;
                color: @black;
            }

            .icon {
                .responsive-max(@mobile, {
                    display: none;
                });
            }
        }
    }

}
